/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMBER 1
#define SYMBOL 2
#define FUNCTN 3
#define          NUMPAD 4
#define          CONFIG 5

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | WIN | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I    &kp O   &kp P    &kp BKSP
   &kp LSHFT  &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K    &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp ESC
              &kp LWIN &lt 1 4 &kp SPACE    &kp RET &tog 3 &kp RALT
                        >;
                };

                number_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | SHFT |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     |  DEL |
// | CTRL |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | LWR | SPC |   | ENT | RSE |     |  
                        bindings = <
   &kp ESC   &kp N1 &kp N2 &kp N3    &kp N4    &kp N5       &kp N6   &kp N7   &kp N8 &kp N9    &kp N0   &kp BKSP
   &kp LSHFT &none  &none  &kp PSCRN &kp MINUS &kp EQUAL    &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SEMI &kp DEL
   &kp LCTRL &none  &none  &kp BSLH  &kp LBKT  &kp RBKT     &none    &none    &none  &none     &none    &none 
                          &none &tog 2 &kp SPACE   &kp RET &tog 0 &none
                        >;
                };


                symbol_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | SHFT |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  :  |  "   |
// | CTRL |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    |     | LWR | SPC |   | ENT | RSE |     |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp COLON &kp DQT
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &none    &tog 3   &kp SPACE   &kp RET   &tog 1    &none
                        >;
                };

                function_layer {
                        label = "FUNCTN";
// -----------------------------------------------------------------------------------------
// |  F1  | F2  | F3  | F4  | F5  |   |  F6 |  F7 | F8  | F9  | F10 | F11 | F12 |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | LWR | SPC |   | ENT | RSE |     |
                        bindings = <
   &kp F1   &kp F2  &kp F3   &kp F4   &kp F5 &kp F6    &kp F7   &kp F8   &kp F9 &kp F10  &kp F11 &kp F12
   &none    &none   &none    &none    &none  &none     &none    &none    &none  &none    &none   &none
   &none    &none   &none    &none    &none  &none     &none    &none    &none  &none    &none   &none
                           &none &tog 0   &kp SPACE    &kp RET &tog 2 &none
                        >;
                };

                numpad_layer {
                        label = "NUMPAD";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |  7   |  8  |  9  |  -  | BKSP |
// |      |     |     |     |     |     |   |  *  |  4   |  5  |  6  |  +  |      |
// |      |     |     |     |     |     |   |  /  |  1   |  2  |  3  |     |  =   |
//                    |     | CNFG| SPC |   | ENT | QRTY | , |
                        bindings = < 
   &none &none &none &none &none &none    &none           &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &kp BSPC
   &none &none &none &none &none &none    &kp KP_ASTERISK &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS  &none
   &none &none &none &none &none &none    &kp KP_SLASH    &kp KP_N1 &kp KP_N2 &kp KP_N3 &none &kp KP_EQUAL
               &none &tog 5 &mo SPACE    &kp KP RET &tog 0 &kp KP_COMMA
                        >;
                };

                config_layer {
                        label = "CONFIG";
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | QRTY|     |   |     | QRTY|     |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none &none &none &none &none 
   &none      &none        &none        &none        &none        &none           &none &none &none &none &none &none
   &none      &none        &none        &none        &none        &none           &none &none &none &none &none &none
                                        &none        &tog 0       &none           &none &tog 0 &none
                        >;
                };
        };
};
